// Colors of project

$blue-normal: #39A2DB;
$blue-dark: #2744A9;
$blue-light: #2F6FC2;

$blue-secondary-normal: #A2DBFA;
$blue-secondary-dark: #569ABF;
$blue-secondary-light: #77B6D9;

$white-normal: #EBF4F4;
$white-dark: #CBD0D4;
$white-light: #E8F0F2;

$black-normal: #232224;
$black-dark: #353436;
$black-light: #161617;

$green-normal: #387C6D;
$green-dark: #28545F;
$green-light: #6BA181;

$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;


